version: "3.8"

services:
  web:
    build: .
    command: sh -c "python create_tables.py && uvicorn main:app --host 0.0.0.0 --port 8000 --workers 2"
    ports:
      - "8001:8000"
    env_file:
      - .env
    environment:
      # Using the Docker bridge IP to reach the VPS host, then port 5433 to reach the existing DB container
      DATABASE_URL: postgresql+psycopg2://postgres_user:123456@31.97.43.45:5432/Skeeter
    deploy:
      resources:
        limits:
          cpus: "1.50"
          memory: 768M
