version: "3.8"

services:
  web:
    build: .
    command: sh -c "python create_tables.py && uvicorn main:app --host 0.0.0.0 --port 8000 --workers 2"
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql+psycopg2://postgres_user:123456@db:5432/Skeeter
    deploy:
      resources:
        limits:
          cpus: "1.50"
          memory: 768M

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres_user
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: Skeeter
    ports:
      - "5433:5432"

volumes:
  postgres_data:
